@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
body {
    font-family: "San Francisco",Helvetica,Arial,sans-serif;
    font-size: 20px;
    overflow-x: hidden;
}


/* Text Animation */
.animation-container{
    font-weight: 800;
    font-size: 3em;
    opacity: 1;
}
@media (max-width:767px) {
    .animation-container svg {
       top: 100px; 
       position: fixed;
    }
}
.animation-container svg{
    width: 90%;
    display: block;
    top: 300px;
    margin: -8% 0 0 5%;
    position: relative;
}

.animation-container svg .text{
    width: 100%;
    fill: transparent;
    stroke-width: 3;
    stroke-linejoin: round;
    stroke-dasharray: 90,310;
    stroke-dashoffset: 0;
    animation: text 8s infinite linear;
}
.animation-container svg .text:nth-child(4n+1)
{
    stroke: #001eff;
    animation-delay: -2s;
}
.animation-container svg .text:nth-child(4n+2)
{
    stroke: #ffe700;
    animation-delay: -4s;
}
.animation-container svg .text:nth-child(4n+3)
{
    stroke: #f000ff;
    animation-delay: -6s;
}
.animation-container svg .text:nth-child(4n+4)
{
    stroke: #4deeea;
    animation-delay: -8s;
}
@keyframes text{
    100%{
        stroke-dashoffset: -400;
    }
}

/* Text animation end */


.navbar-container .navbar {
    background-color: #fff;
    transition: all .2s ease-in;
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.2);
} 

@media (max-width: 991px) {
    .navbar-container .navbar .navbar-nav {
        padding: 16px;
        border-radius: 10px;
        background-color: #fff;
    }
}


h1 {
    text-align: center;
    margin-bottom: 50px;
    color: #222121;
    font-weight: bold;
}
@media screen and (max-width: 768px) {
    h1{   
        font-size: 33px;
        line-height: 37px;
    }
}




h2 {
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 800;
    font-size: 78px;
    color: #000000!important;
    line-height: 1.2em;
    text-align: center;
}


@media screen and (max-width: 768px) {
    h3{
        font-size:20px;
    }
}

.container {
    margin: 0 auto;
    padding: 0;
}
@media only screen and (max-width: 767px) {
    .container {
        width: 300px;
    }
}

  .img-fluid {
    max-width: 100%;
}
img {
    border: none;
    max-width: 100%;
}

#loadingpage {
    
    background-color: #000000;
}
@media only screen and (max-width: 767px) {
    #loadingpage {
        width: 300px;
    }
}

#about {
    background-color: #7f3db7;
    padding: 100px 0;
}
@media (max-width:767px) {
    #about {
        background-color: #7f3db7;
        padding: 40px 0;
    }
}


#diversity {
    background-color: #ffffff;
    padding: 90px 0;
}

#diversity h1 {
    color: #353576;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 40px;
}

@media (max-width:767px) {
    #diversity h1 {
        margin-bottom: 0px;
    }
}

@media (max-width:767px) {
    #diversity {
        background-color: #ffffff;
        padding: 50px 0;
    }
}

#diversity_carousel {
    max-width: 50%;
    height: auto;
    margin: 0 auto;
}
@media (max-width:767px) {
    #diversity_carousel {
        max-width: 100%;
        height: auto;
        margin: 0 auto;
    }
}


#schedule {
    background-color: #f7931f;
    padding: 100px 0;
}
@media (max-width:767px) {
    #schedule {
        background-color: #f7931f;
        padding: 50px 0;
    }
}

#tracks {
    background-color: #290051;
    padding: 90px 0;
}
@media (max-width:767px) {
    #tracks {
        background-color: #290051;
        padding: 50px 0;
    }
}

#events {
    background-color: #e8e7e9;
    padding: 90px 0;
}
@media (max-width:767px) {
    #events {
        background-color: #e8e7e9;
        padding: 50px 0;
    }
}

#sponsors {
    background-color: #ffffff;
    padding: 90px 0;
    margin-left: 80px;
}
@media (max-width:767px) {
    #sponsors {
        margin-left: 0px;
    }
}

#speakers {
    background-color: #29b6f6;
    padding: 90px 0;
}
@media (max-width:767px) {
    #speakers {
        background-color: #353576;
        padding: 50px 0;
    }
}

.card-img-top {
    
}

#register {
    background-color: #f1ebeb;
    padding: 90px 0;
}
@media (max-width:767px) {
    #register {
        background-color: #f1ebeb;
        padding: 50px 0;
    }
}

#faq {
    background-color: #ff9999;
    padding: 90px 0;
}
@media (max-width:767px) {
    #faq {
        background-color: #ff9999;
        padding: 50px 0;
    }
}

#pasteventphotos_carousel {
    max-width: 50%;
    height: auto;
    margin: 0 auto;
}


.card-text {
    font-size: 16px;
}


.btn-lg {
    margin-left: 40%;
}
@media (max-width:767px) {
    .btn-lg {
        margin-left: 20%;
    }
}


.title {
    padding: 20px;
}


.section-heading{
    background: #572d84; 
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
    text-align: center;
    color: #ffffff;
    font-size: 35px;
}

  /* footer */

#footer {
    background: #03A9F4 !important;
}

#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}

@media (max-width:767px) {
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
 }
}

@media (max-width:767px) {
    .text-justify {
        font-size: 16px;
    }
}



/* Timeline */
ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

/* Beta Badge */

  .badge {
    position: fixed;
    left: -7px;
    top: 19px;
    background-color: #4834fd;
    -webkit-transform: rotate(-45deg) scale(1) skew(0deg) translate(10px);
    -moz-transform: rotate(-45deg) scale(1) skew(0deg) translate(10px);
    -o-transform: rotate(-45deg) scale(1) skew(0deg) translate(10px);
    -ms-transform: rotate(-45deg) scale(1) skew(0deg) translate(10px);
    transform: rotate(-45deg) scale(1) skew(0deg) translate(10px);
    text-align: center;
    color: white;
    padding: 0 .5em;
    border-top: 0px;
    line-height: 20px;
    margin: 0;
    border-radius: 0px;
  }
  .badge:after {
      content: ' ';
      position: fixed;
      right: -19px;
      top: 0px;
      border-right: 20px solid transparent;
      border-bottom: 20px solid #4834fd;
  }
  .badge:before {
      content: ' ';
      position: fixed;
      left: -19px;
      top: 0px;
      border-left: 20px solid transparent;
      border-bottom: 20px solid #4834fd;
  }